.bg-logo{
    width: 100%;
    margin-top: -80px;
    position: relative;
}

.navbar{
    margin-top: -80px;
    position: relative;
}

.nav-link{
    color: #fff;
}

.img-size{
    max-width: 300px;
    max-height: 150px;
}

.margin-top{
    margin-top: 50px;
}

.footer{
    color: #fff;
    display: grid;
    justify-content: center;
    background-color: #202020;
}

.img-footer{
    max-width: 200px;
    max-height: 200px;
    padding: 20px;
}